<section id="about" class="about-section">
        <div class="background_div"></div>
        <div class="avatar"></div>
        <div class="wrapper-div">
            <div class="container">
                <div class="contain-icon">
                    <div class="icon1"></div>
                    <h2>Test</h2>
                    <p>
                        We take our craft seriously. Originality, Quality, Detail, Storytelling. It’s what we do.
                    </p>
                </div>

                <div class="contain-icon">
                    <div class="icon2"></div>
                    <h2>Test</h2>
                    <p>
                        We take our craft seriously. Originality, Quality, Detail, Storytelling. It’s what we do.
                    </p>
                </div>

                <div class="contain-icon">
                    <div class="icon3"></div>
                    <h2>Test</h2>
                    <p>
                        We take our craft seriously. Originality, Quality, Detail, Storytelling. It’s what we do.
                    </p>
                </div>
            </div>
        </div>
        <blockquote>
            <p class="bio">
                <strong>Lorem ipsum dolor sit amet</strong>, consectetur adipiscing elit. Fusce ac orci ac lacus fermentum convallis. Aliquam tincidunt egestas nisl id commodo. Vestibulum urna libero, imperdiet et ipsum sit amet, bibendum pellentesque augue. Pellentesque ac ex id augue iaculis volutpat. Mauris volutpat sapien ac nisi interdum porttitor. Suspendisse potenti. Nam eleifend massa eu blandit egestas. Pellentesque eget dui ullamcorper, lacinia felis sit amet, volutpat elit. Morbi ut nunc nec nisl hendrerit egestas. Proin tristique eleifend libero, id maximus nibh sagittis nec. Nullam finibus lacus eu.
            </p>
        </blockquote>
</section>
