<footer>
    <div class="blockquote">
        <h4>
            Lorem ipsum dolor.
        </h4>
        <h4>
            Sit amet, consectetur adipiscing elit. Proin vulputate euismod tortor.
        </h4>
    </div>
    <div class="lockup">
        <div class="logo"></div>

        <div class="content-wrap">
            <nav>
                <a href="#about">About Me</a>
                <p>|</p>
                <a href="#work">Portfolio</a>
                <p>|</p>
                <a href="#contact">Contact</a>
            </nav>
            <p class="copyright">All content copyright 2017</p>
        </div>

    </div>
</footer>
