<section class="insta-section">
    <div class="instaDiv" style="display:block;position:relative">
        <iframe src="https://snapwidget.com/embed/481285" class="snapwidget-widget" scrolling="no" allowtransparency="true" style="width: 100%; border: 0; overflow: hidden;position:absolute; height: 2500px; display: block;"></iframe>
        <iframe src="https://snapwidget.com/embed/481290" class="snapwidget-widget2" scrolling="no" allowtransparency="true" style="width: 100%; border: 0; overflow: hidden;position:absolute; height: 2500px; display: block;"></iframe>
    </div>
</section>
