<section class="intro">

    <div class="wrapper">
        <div class="parablock">
            <p class="paratext">
                My name is Hayden. I live in Boulder, Colorado and work as a web developer at <a href="http://lasp.colorado.edu" class="intro-link hide lasp-link">LASP</a>.<br/> In my words, I am a <a class="intro-link hide design-link">designer and creator</a>.
            </p>

            <p class="paratext">
                In my free time I enjoy rock climbing, writing code, and designing websites. I find inspiration in <a class="intro-link hide min-link">minimalism</a>, <a class="intro-link hide userex-link">user experience<a/>, <a class="intro-link hide fashion-link">fashion</a>, and my addiction of <a class="intro-link hide sneaker-link">sneakers<a/>.

            </p>
        </div>
        <div class="image-holder"></div>
    </div>


</section>
