<section id="work" class="alt-section section-work">
    <h3 id="#work">Work</h3>

    <div class="work-belt">

        <div class="thumb-wrap">
            <div class="thumb-container">

                {%  for project in site.data.settings.projects %}

                <a class="thumb-unit" data-folder="{{project.folder}}" style="background-image: url(/assets/img/work/{{project.folder}}/thumb.jpg);">

                    <div class="thumb-overlay">

                        <strong>{{ project.name }}</strong>
                        <div class="zoom-icon"></div>


                    </div>

                </a>

                {% endfor %}

            </div>
        </div>

        <div class="work-wrap">
            <div class="work-container">
                <div class="back-icon"> {% include back-arrow.html %} </div>
                <div class="image-header">
                        <h4 class="project-title">Title</h4>
                </div>
                <div class="project-load"></div>
            </div>

        </div>

    </div>

</section>
