.instaDiv
    .snapwidget-widget
        top: 750px

        @media screen and (max-width: 1210px)

            top: 600px

        @media screen and (max-width: 500px)

            visibility: hidden

    .snapwidget-widget2

        visibility: hidden
        top: 850px

        @media screen and (max-width: 500px)

            visibility: visible
